<% if current_user %>
  <div class="container">
    <div class="search"><input type="text" placeholder="search"></input></div>
    <br />
  </div>


<!-- renders scrap body -->
<div>
  <% current_user.i_follows.each do |f| %>
    <div>
    <%= f.i_follow_id %>
    </div>
    <br />
    <% f.i_follow.scraps.each do |s| %> 
      <%= s.body %>
      <% end %>
      <% end %>
</div>
<br />
<!-- renders scrap body END -->

  
<% else %>
  <div class="container">
    <div class="search"><input type="text" placeholder="search"></input></div>
   <!--  <br />
    <div class="post"><input type="text" placeholder="post"></input></div>
  </div> -->
  <br />
  <br />
  <br />
  <%= render "users/form" %>
<% end %>

<script>
  $(function(){

  $("#listScraps").html(function(){

    $.get("/scraps/index/api"),

      listScraps
    );
  });

  // $("#robot_model").prepend("<option>Choose one</option>");
  // $("#robot_model")[0].selectedIndex = 0;

});


function listScraps(data){
  var scrapList = "";
  for(scrap in data)
  {
    scrapList += '<div>Scrap #' + data[scrap].scrap_body + '</div>';
  }

  $("#ScrapList").html(scrapList);
}

</script>


***********************

<br />

<div id="ScrapList">Scraps</div>


