<% if current_user %>
  <div class="container">
    <div class="search"><input type="text" placeholder="search"></input></div>
    <br />
    
  <!--   <div class="post"><input type="text" placeholder="post"></input></div>
  </div> -->
<% else %>
  <div class="container">
    <div class="search"><input type="text" placeholder="search"></input></div>
   <!--  <br />
    <div class="post"><input type="text" placeholder="post"></input></div>
  </div> -->
  <br />
  <br />
  <br />
  <%= render "users/form" %>
<% end %>
