<div class="container">
  <%= form_tag 'search', :method => 'post' do %>

  <%= text_field_tag :search, params[:search], :id => 'search_field',  placeholder: "search", class: "search"  %>
  <% end %> 
</div>

  
