<div class="container_signup">
  <%= form_for @scrap do |s| %>
  <%= s.text_field :search_tag, placeholder: 'Search Tag' %><br />
  <p id="indent"><%= s.text_area :body, placeholder: 'Code Scrap' %></p><br />
  <%= s.submit %>
  <% end %>
</div>