<div class="vote_container">
    
     <%= link_to scrap_up_vote_path(scrap) do %>
          <div class="votenumberup"></div>
     <% end %>

     <%= link_to scrap_down_vote_path(scrap) do %>
          <div class="votenumberdown"></div>
     <% end %>

</div>