<span class="glyphicon glyphicon-search"></span>

<div id="vote">
  <div><%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up' %></div>
  <div><strong><%= scrap.points %></strong></div>
  <div><%= link_to " ", '#', class: 'icon-chevron-down' %></div>
</div>