<div id="vote">
	<div id="voteup"><%= link_to "^", scrap_up_vote_path(scrap) %></div>
	<div><strong><%= scrap.points %></strong></div>
	<div id="votedown"><%= link_to "v", scrap_down_vote_path(scrap) %></div>
</div>