<!DOCTYPE html>
<html>
<head>
  <title>Syntaxair</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <a href="/"><div class="icon"></div></a>
  <div class="login"><button>login</button></div>
  <div class="login"><input type="text" placeholder="password"></input></div>
  <div class="login"><input type="text" placeholder="email"></input></div>
</div>
<div class="container">
  <div class="branding"></div>
</div>

<%= yield %>

</body>
</html>
